# PDF and Data Folders
Positive_PMC_Supplementary/
Positive_PMC_PDFs/
Positive_PMC_TSV_Files/
1012_Positive_PMC_Full_Text_and_Supplementary/
Download_1012_Positive_PMC_Full_Text_and_Supplementary/Positive_PMC_PDFs/
Download_1012_Positive_PMC_Full_Text_and_Supplementary/Positive_PMC_Supplementary/
Download_1012_Positive_PMC_Full_Text_and_Supplementary/Positive_PMC_TSV_Files/
Copilot_Processed_Datasets_JSON/
DOME_Registry_JSON_Files/
DOME_Registry_TSV_Files/
DOME_Registry_PMC_PDFs/
DOME_Registry_PMC_Supplementary/
DOME_Registry_Remediation/
# Python
__pycache__/
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints/

# System
.DS_Store
Human_Evaluation_Interface/30_human_evaluation/
